body {
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;
}

.cart {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1rem;
}

.cart-tagline {
    color: black;
    align-self:flex-start;
}

.cart-items {
    width: 100%;
}
table td {
    border-bottom: 1px solid lightgray;
}

.cart-titles__value {
    color: #CFD4D5;
    font-weight: 300;
    padding: 0.5rem;
    text-align: center;
}

.item-price, .item-quantity, .item-total {
    text-align: center;
}

.cart-item__description {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fa-times-circle {
    padding: 0 0.5rem 0 0.5rem;
    color: lightgray;
}

.description__image {
    width: 120px;
    padding: 0.1rem;
    border: 0.5px solid lightgray;
}

.description-details {
    display: flex;
    flex-direction: column;
    padding: 1rem 0 1rem 2rem;
}
.description-details__info {
    display: flex;
    flex-direction: row;
}

.fa-circle {
    padding-right: 0.5rem;
    color: purple;

}

.description-details-info__label {
    padding-right: 0.5rem;
}

.cart-subtotal{
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
    align-items: flex-end;
}

.cart-subtotal__label {
    color: #CFD4D5;
    padding-right: 0.5rem;
}

.cart-subtotal__details {
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

.currency {
    color: #CFD4D5;
    font-weight: bold;
}

.value {
    font-weight: bold;
}

.item-price__details, .item-total__details {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cart-subtotal__button {
    background-color: #6FD1A0;
    border-radius: 2px;
    border: 0px;
    padding: 0.7rem;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 1.5rem;
 
}

.fa-arrow-right {
    color: white;
    font-weight: 500;
}

